.search-result {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 25px;
    color: var(--text-color-primary);
}

.search-result:hover {
    background-color: #efefef;
}

@media (max-width: 768px) {
    .input-wrapper {
        height: 3.5rem;
        font-size: 18px;
    }

    .searchbar-input {
        font-size: 1rem;
    }
}